/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/Unity_Build/
/[Mm]emoryCaptures/
/[Rr]ecordings/
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.log
*.blend1
*.blend1.meta
sysinfo.txt
crashlytics-build.properties
/Assets/StreamingAssets/aa.meta
/Assets/StreamingAssets/aa/
/Assets/AddressableAssetsData/*/*.bin*
/Assets/AddressableAssetsData/*/*.json*
/Assets/AddressableAssetsData/*/*.hash*
.DS_Store
Thumbs.db
